body{
  background-color: black;
  color: white;
  font-family: 'Noto Sans SC', sans-serif;
  font-family: 'Raleway', sans-serif;
}

.hero-container{
  background-image: url(img/hero-image.jpg);
  background-size: cover;
}
.hero-section{
  height: 45vh;
  background-color: rgba(0, 0, 0, .8);
  padding: 2em 1em;
}

.hero-section h1{
  margin-top: 0;
  text-align: center;
  text-transform: uppercase;
  line-height: 1.2;
}

.gold-text{
  color: #A99562;
}

.copy-title{
  display: block;
  margin-top: .3em;
}

.button{
  background-color: #a9956277;
  display: table;
  padding: .7em 1em;
  margin: auto;
  border-radius: 8px;
  text-transform: uppercase;
}