body{
  background-color: black;
  color: white;
  font-family: 'Noto Sans SC', sans-serif;
  font-family: 'Raleway', sans-serif;
}

*{
  box-sizing: border-box;
}

a{
  color: inherit;
  text-decoration: none;
}

.hero-container{
  background-image: url(img/hero-image.jpg);
  background-size: cover;
}
.hero-section{
  background-color: rgba(0, 0, 0, .8);
  padding: 2em 1em;
}

.hero-section h1{
  margin-top: 0;
  text-align: center;
  text-transform: uppercase;
  line-height: 1.2;
  font-size: 1.4em;
}

.gold-text{
  color: #A99562;
}

.sub-title{
  font-weight: lighter;
  text-transform: uppercase;
  text-align: center;
}

.copy-title{
  display: block;
  margin-top: .3em;
}

.button{
  background-color: #a9956277;
  display: table;
  padding: .7em 1em;
  margin: auto;
  border-radius: 8px;
  text-transform: uppercase;
}

.item:nth-child(2){
  display: none;
}

.item:nth-child(3){
  display: none;
}

.item:nth-child(4){
  display: none;
}

.item:nth-child(5){
  display: none;
}

.item .image{
  height: 30vh;
  overflow: hidden;
  animation: animate ease-in-out 0.5s 1 forwards;
  opacity: 0;
  
}

.item img{
  max-width: 100%;
}

.content{
  width: calc(100% - 100px);
  margin: auto;
  height: 150px;
  overflow: hidden;
}

.content h3{
  text-transform: uppercase;
  animation: animate ease-in-out 0.5s 1 forwards;
  opacity: 0;
}

.content p{
  animation: animate ease-in-out 0.9s 1 forwards;
  opacity: 0;
}


.prev,
.next{
  float: left;
  border: none;
  background-color: transparent;
  transition: all .1s linear;
  position: relative;
  top: -75px;
}

.next{
  float: right;
  right: 0;
}

.prev:hover,
.next:hover{
  transform: scale(1.1);
}

button img{
  width: 30px;
}

@keyframes animate {
  from{
    opacity: 0;
    transform: translate(40%);
  }
  to{
    opacity: 1;
    transform: translate(0);
  }
}

@media screen and (min-width: 375px) {
  .hero-section h1{
    font-size: 2em;
  }
}

/* ################ TESTIMONIAL ##################### */


.testimonial{
  background-color: #0D0D10;
  height: 50vh;
  width: 90vw;
  margin: auto;
  padding: 1em 1.5em;
  margin-top: 1em;
  display: none;
}



/* ################ END TESTIMONIAL ################## */


.works{
  display: flex;
  width: 100vw;
  background-color: #17c464;
  flex-direction: column;
  height: 100vh;
}

.works img{
  max-width: 100%;
}

.work_item{
  flex: 1 1 auto;
  background-color: red;
  transition: all .5s linear;
  color: #A99562;
}

.work_item h3{
  padding: 1em;
}

.work_item.active{
  flex: 5 1 auto;
  background-color: rgb(25, 0, 255);
}

.work_item.active div{
  background-color: transparent;
}


.work_item.active span,
.work_item.active h3,
.work_item.active button{
  display: block;
  animation: text ease-in-out 0.8s 1 forwards;
  text-shadow: 0 0 30px #A99562;
  color: #fafaff;
}



@keyframes text {
  from{
    opacity: 0;
    transform: translate(-30px)
  }
  to{
    opacity: 1;
    transform: translate(0);
  }
}

.work_item{
  background-position: center;
  background-size: cover;
}
.work_item:nth-child(1){
  background-image: url(img/img-1.jpg);
}

.work_item:nth-child(2){
  background-image: url(img/img-2.jpg);
}

.work_item:nth-child(3){
  background-image: url(img/img-3.jpg);
}

.work_item div{
  background-color: rgba(0, 0, 0, 0.425);
  width: 100%;
  height: 100%;
  margin: 0;
}

.work_item h3{
  margin: 0;
}

.work_item button{
  border: none;
  display: none;
  margin-left: 1em;
}

.work_item.active button{
  display: block;
  background-color: #A99562;
}

/*
  contacto
*/


.contact p{
  padding: 0 1.2em;
  line-height: 1;
  font-size: 1.5em;
  margin-bottom: .5em;
  font-weight: 300;
}

.contact-icon{
  width: 30px;
  display: inline-block;
  line-height: 1;
  vertical-align: middle;
  margin-right: .3em;
}

.form{
  padding: 1em;
  font-size: 1.2em;
}

.form input,
.form textarea{
  width: 100%;
  background-color: #1E1E1E;
  color: #A99562;
  border: none;
  font-style: italic;
  margin-bottom: .5em;
}

.form .button{
  border: none;
  color: white;
  width: 90%;
  font-weight: bolder;
  padding: .5em;

}


.form textarea{
  resize: none;
}

.map{
  margin: auto;
  width: calc(100vw - 2em);
}
.map iframe{
  width:  100%
}

footer{
  border-top: 1px solid #a9956285;
  margin-top: 1em;
  text-align: center;
  padding-top: 1em;
}

.logo p{
  color: #A99562;
  margin-top: .3em;
}

footer p:nth-of-type(2){
  font-style: italic;
  text-transform: uppercase;
}

footer p:nth-of-type(2) span{
  color: #A99562;
}